<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<a th:href="@{home}">home</a>-->
<!--<a th:href="@{categories}">categories</a>-->
<!--<h1 th:text="'IPadress: '+${ipAddress}"></h1>-->
<!--<ul>-->
<!--    <li th:each="category: ${categories}" th:text="'Name: ' + ${category.getName()} + 'Desc: ' + ${category.getDescription()}"></li>-->
<!--    <form th:action="@{/categories}" th:method="POST">-->
<!--        <label>-->
<!--            Name:-->
<!--        </label>-->
<!--        <input required type="text" name="name"/>-->
<!--        <br>-->
<!--        <label>-->
<!--            Description:-->
<!--        </label>-->
<!--        <input required type="text" name="description"/>-->
<!--        <button type="submit">add category</button>-->
<!--    </form>-->
<!--</ul>-->
<!--</body>-->
<!--</html>-->